Class_Work/19. XML. Part 2/19. XML. Part 2/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name ="Users">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name ="User" minOccurs="1" maxOccurs="3">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Name" maxOccurs="1"/>
              <xsd:element name="Login" maxOccurs="1"/>
              <xsd:element name="Pass" maxOccurs="1"/>
              <xsd:element name="Date_create" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


</xsd:schema>
